.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer{
    margin-top: 50px;
}
.underline{
    border-top: 4px solid #d9a950;
    width: 100px;
}
.img{
    width:100%;
    height: 20vh;
    border:2px solid#d9a950;
    border-radius: 3px;
}
.menuItem{
    background-color:transparent;
    border-color:#fff;
}
.u{
    width: 330px;
    border-top: 1px solid rgb(197, 197, 197);
    margin-bottom: 20px;
}
.card-text{
    font-size: 14px;
}
.card-text::first-letter{
    text-transform: capitalize;
}
.price{
    color: #d9a950;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: #d9a950;
    font-size: 18px;
}
.nav-link::first-letter{
    text-transform: capitalize;
}